@import "tailwindcss";
@theme {
	--color-primary: #00688f;
	--color-secondary: #00c8c5;
	--color-button: #008292;
	--color-price: #ffdb01;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
